<div class="main-container">
  <div class="g"></div>

  <div class="frame-1">
    <div class="frame-2">
      <div class="nav-item">
        <span class="navigation-item">About</span>
        <div class="icon-navigation-caret-down"></div>
      </div>
      <div class="nav-item-3">
        <span class="navigation-item-4">Services</span>
        <div class="icon-navigation-caret-down-5"></div>
      </div>
      <div class="nav-item-6">
        <span class="resources">Resources</span>
        <div class="icon-navigation-caret-down-7"></div>
      </div>
      <div class="nav-item-8">
        <span class="pricing">Pricing</span>
        <div class="icon-navigation-caret-down-9"></div>
      </div>
      <div class="nav-item-a">
        <span class="navigation-item-b">Contact Us</span>
        <div class="icon-navigation-caret-down-c"></div>
      </div>
    </div>
  </div>
  <div class="component">
    <div class="button">
      <span class="text">Get In Touch</span>
      <div class="icon-navigation-arrow"></div>
    </div>
  </div>
</div>

<style scoped>
  :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  .main-container {
    width: 100%;
    /* max-width: 1440px; */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 12px 60px;
    background: #0e2726;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-container * {
    box-sizing: border-box;
  }

  .g {
    flex-shrink: 0;
    position: relative;
    width: 121.549px;
    height: 66.001px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/Q2SzUErAR8.png)
      no-repeat center;
    background-size: 100% 100%;
  }

  .component {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 162px;
    border-radius: 50px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 162px;
    padding: 10px 18px;
    background: #ed7c00;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  }

  .text {
    height: 24px;
    color: #fff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
  }

  .icon-navigation-arrow {
    width: 20px;
    height: 20px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/UJ3MXTe1kX.png)
      no-repeat center;
    background-size: cover;
  }

  .frame-1,
  .frame-2 {
    display: flex;
    align-items: center;
    gap: 44px;
    width: 520px;
  }

  .frame-2 {
    gap: 8px;
  }

  .nav-item,
  .nav-item-3,
  .nav-item-6,
  .nav-item-8,
  .nav-item-a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 8px 12px;
  }

  .navigation-item,
  .navigation-item-4,
  .resources,
  .pricing,
  .navigation-item-b {
    height: 20px;
    color: #fff;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
  }

  .icon-navigation-caret-down,
  .icon-navigation-caret-down-5,
  .icon-navigation-caret-down-7,
  .icon-navigation-caret-down-9,
  .icon-navigation-caret-down-c {
    width: 14px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon-navigation-caret-down {
    background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/NyQJNCxFtX.png);
  }

  .icon-navigation-caret-down-5 {
    background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/Qa0z7Liz6h.png);
  }

  .icon-navigation-caret-down-7 {
    background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/FwrVRcgXpu.png);
  }

  .icon-navigation-caret-down-9 {
    background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/pSsSgtv1rg.png);
  }

  .icon-navigation-caret-down-c {
    background-image: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-07-24/nzBVFUb9ai.png);
  }
</style>
